In [32]:
import pandas as pd
import numpy as np
import keras
#import liberaries
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

In [33]:
df = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')

In [34]:
df.shape

(1030, 9)

In [35]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [36]:
# Check the null values in the dataset
null=df.isnull()
null

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
1025,False,False,False,False,False,False,False,False,False
1026,False,False,False,False,False,False,False,False,False
1027,False,False,False,False,False,False,False,False,False
1028,False,False,False,False,False,False,False,False,False
1029,False,False,False,False,False,False,False,False,False

In [37]:
null.sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [38]:
# select and store the the column which we want to predict. 
target = df["Strength"]
target

0       79.99
1       61.89
2       40.27
3       41.05
4       44.30
        ...
1025    44.28
1026    31.18
1027    23.70
1028    32.77
1029    32.40
Name: Strength, Length: 1030, dtype: float64

In [39]:
# to ignore the last column of the dataset.
predictors=df.iloc[:,:-1]

In [40]:
#PART B

In [41]:
# Normalize the data.
pred_norm = (predictors - predictors.mean())/predictors.std()

In [42]:
# To know the number of columns of predictors
num_col = pred_norm.shape[1]
num_col

8

In [43]:
# initialize Sequential model.
model_norm = Sequential()
# set the hidden layer, activation function relu, and input shape.
model_norm.add(Dense(10, activation='relu', input_shape=(num_col,)))
model_norm.add(Dense(1))
# set the optimizer adam and error= mean square error.
model_norm.compile(optimizer='adam', loss='mean_squared_error')

In [44]:
# list to store the msqe values.
error2 = []
# loop for 50 iterationns.
for msqe in range(50):
    # spliting data in X,y train and test.
    X_train, X_test, y_train, y_test = train_test_split(pred_norm, target, test_size=0.3)
    # model fitting the train and test data fit to the model and start trainning and testing of data.
    result = model_norm.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    # last value of the msqe.
    mean_squared_error = result.history['val_loss'][-1]
    # append the mean squared error of every iteration on list.
    error2.append(mean_squared_error)
    print('Time #{}: mean_squared_error {}'.format(msqe+1, mean_squared_error))

Time #1: mean_squared_error 274.1992492675781
Time #2: mean_squared_error 154.51486206054688
Time #3: mean_squared_error 130.09133911132812
Time #4: mean_squared_error 130.68701171875
Time #5: mean_squared_error 113.90128326416016
Time #6: mean_squared_error 117.47557830810547
Time #7: mean_squared_error 95.6950454711914
Time #8: mean_squared_error 99.78852844238281
Time #9: mean_squared_error 107.25839233398438
Time #10: mean_squared_error 103.03694152832031
Time #11: mean_squared_error 111.02562713623047
Time #12: mean_squared_error 97.37996673583984
Time #13: mean_squared_error 103.57682800292969
Time #14: mean_squared_error 107.83131408691406
Time #15: mean_squared_error 101.95357513427734
Time #16: mean_squared_error 119.58917236328125
Time #17: mean_squared_error 106.36162567138672
Time #18: mean_squared_error 102.7471923828125
Time #19: mean_squared_error 109.94327545166016
Time #20: mean_squared_error 100.73048400878906
Time #21: mean_squared_error 108.13387298583984
Time #22: mean_squared_error 93.92243194580078
Time #23: mean_squared_error 96.51612854003906
Time #24: mean_squared_error 106.7225570678711
Time #25: mean_squared_error 107.48524475097656
Time #26: mean_squared_error 116.43302154541016
Time #27: mean_squared_error 106.51770782470703
Time #28: mean_squared_error 110.71334838867188
Time #29: mean_squared_error 101.77104187011719
Time #30: mean_squared_error 94.60164642333984
Time #31: mean_squared_error 107.27305603027344
Time #32: mean_squared_error 112.1768569946289
Time #33: mean_squared_error 94.14521789550781
Time #34: mean_squared_error 95.29464721679688
Time #35: mean_squared_error 104.0613021850586
Time #36: mean_squared_error 93.8940658569336
Time #37: mean_squared_error 112.58190155029297
Time #38: mean_squared_error 104.45198059082031
Time #39: mean_squared_error 101.39493560791016
Time #40: mean_squared_error 99.19668579101562
Time #41: mean_squared_error 97.7676773071289
Time #42: mean_squared_error 89.07087707519531
Time #43: mean_squared_error 96.83576965332031
Time #44: mean_squared_error 101.81034851074219
Time #45: mean_squared_error 101.26421356201172
Time #46: mean_squared_error 92.21552276611328
Time #47: mean_squared_error 103.81124114990234
Time #48: mean_squared_error 92.59780883789062
Time #49: mean_squared_error 89.03919219970703
Time #50: mean_squared_error 102.62627410888672

In [45]:
# Average mean of msqe
avg_msqe = np.mean(error2)
print("Average Mean squared error:", avg_msqe)

Average Mean squared error: 108.44227737426758

In [46]:
# standard deviation of msqe
avg_std = np.std(error2)
print("Average standard deviation:", avg_std)

Average standard deviation: 26.260946938292093