In [1]:
import pandas as pd
import numpy as np
import keras
#import liberaries
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

In [2]:
# Part-A

In [3]:
df = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')

In [4]:
df.shape

(1030, 9)

In [5]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
# Check the null values in the dataset
null=df.isnull()
null

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
1025,False,False,False,False,False,False,False,False,False
1026,False,False,False,False,False,False,False,False,False
1027,False,False,False,False,False,False,False,False,False
1028,False,False,False,False,False,False,False,False,False
1029,False,False,False,False,False,False,False,False,False

In [7]:
null.sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [8]:
# select and store the the column which we want to predict. 
target = df["Strength"]
target

0       79.99
1       61.89
2       40.27
3       41.05
4       44.30
        ...
1025    44.28
1026    31.18
1027    23.70
1028    32.77
1029    32.40
Name: Strength, Length: 1030, dtype: float64

In [9]:
# to ignore the last column of the dataset.
predictors=df.iloc[:,:-1]

In [10]:
predictors.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age'],
      dtype='object')

In [11]:
# To know the number of columns of predictors
num_col=predictors.shape[1]
num_col

8

In [12]:
# initialize Sequential model.
model = Sequential()
# set the hidden layer, activation function relu, and input shape.
model.add(Dense(10, activation='relu', input_shape=(num_col,)))
model.add(Dense(1))
# set the optimizer adam and error= mean square error.
model.compile(optimizer='adam', loss='mean_squared_error')

In [13]:
# list to store the msqe values.
error=[]
# loop for 50 iterationns.
for msqe in range(50):
    # spliting data in X,y train and test.
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)
    # model fitting the train and test data fit to the model and start trainning and testing of data.
    result = model.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    # last value of the msqe.
    mean_squared_error = result.history['val_loss'][-1]
    # append the mean squared error of every iteration on list. 
    error.append(mean_squared_error)
    print('Time #{}: mean_squared_error {}'.format(msqe+1, mean_squared_error))

Time #1: mean_squared_error 609.4845581054688
Time #2: mean_squared_error 252.17999267578125
Time #3: mean_squared_error 129.1253204345703
Time #4: mean_squared_error 120.81831359863281
Time #5: mean_squared_error 107.01160430908203
Time #6: mean_squared_error 97.13432312011719
Time #7: mean_squared_error 108.74112701416016
Time #8: mean_squared_error 88.2370834350586
Time #9: mean_squared_error 84.47750854492188
Time #10: mean_squared_error 69.36554718017578
Time #11: mean_squared_error 70.48214721679688
Time #12: mean_squared_error 60.1304817199707
Time #13: mean_squared_error 66.2459716796875
Time #14: mean_squared_error 58.08766174316406
Time #15: mean_squared_error 52.92312240600586
Time #16: mean_squared_error 53.440696716308594
Time #17: mean_squared_error 53.10652542114258
Time #18: mean_squared_error 44.61098861694336
Time #19: mean_squared_error 50.324928283691406
Time #20: mean_squared_error 49.0267448425293
Time #21: mean_squared_error 55.00365447998047
Time #22: mean_squared_error 56.26030731201172
Time #23: mean_squared_error 53.71500015258789
Time #24: mean_squared_error 55.2730712890625
Time #25: mean_squared_error 53.48994827270508
Time #26: mean_squared_error 44.19146728515625
Time #27: mean_squared_error 45.711944580078125
Time #28: mean_squared_error 51.91207504272461
Time #29: mean_squared_error 50.67731857299805
Time #30: mean_squared_error 54.59260559082031
Time #31: mean_squared_error 51.08528518676758
Time #32: mean_squared_error 48.002540588378906
Time #33: mean_squared_error 52.33176803588867
Time #34: mean_squared_error 45.228546142578125
Time #35: mean_squared_error 54.861915588378906
Time #36: mean_squared_error 53.26652145385742
Time #37: mean_squared_error 48.519439697265625
Time #38: mean_squared_error 51.241329193115234
Time #39: mean_squared_error 48.88330078125
Time #40: mean_squared_error 54.447227478027344
Time #41: mean_squared_error 48.94727325439453
Time #42: mean_squared_error 55.537437438964844
Time #43: mean_squared_error 52.73063659667969
Time #44: mean_squared_error 45.99184799194336
Time #45: mean_squared_error 53.99747085571289
Time #46: mean_squared_error 47.5865364074707
Time #47: mean_squared_error 53.26979064941406
Time #48: mean_squared_error 53.30997848510742
Time #49: mean_squared_error 49.55148696899414
Time #50: mean_squared_error 53.177703857421875

In [14]:
# Average mean of msqe
avg_msqe = np.mean(error)
print("Average Mean squared error:",avg_msqe)

Average Mean squared error: 75.3550015258789

In [15]:
# standard deviation of msqe
avg_std = np.std(error)
print("standard deviation:",avg_std)

standard deviation: 83.22123456233963